* {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: "Poppins", sans-serif;
}

.all-section {
    margin: 50px 135px 0px 135px;
}



/* nav bar section start */
.first-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-left {
    display: flex;
    align-items: center;
    gap: 16px;
}

.nav-left h2 {
    font-size: 2.25rem;
}

.nav-right {
    display: flex;
    list-style: none;
    gap: 44px;
    font-size: 18px;
}

.nav-right-1 {
    display: flex;
    gap: 44px;
}

.nav-left-orange {
    color: #FF5400;
}

.nav-right-orange {
    color: #FF5400;
    font-weight: 700;
}

.bars {
    display: none;
}





/* nav information starts */
.nav-info {
    /* border: 2px solid green; */
    margin-top: 50px;
    height: auto;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(Images/Group\ 13\ \(1\)\ \(1\).png);
    background-repeat: no-repeat;
    background-size: cover;
}

.nav-info-2 {
    /* border: 2px solid rgb(243, 69, 0); */
    margin: 100px 180px;
    padding: 100px;
    text-align: center;
    color: white;

}

.nav-info-2 h1 {
    font-size: 4rem;
    font-weight: 800;
}

.nav-info-2 p {
    font-size: 1rem;
    font-weight: 400;
    padding: 1.5rem 4rem;
}

.nav-four-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    padding: 1rem;
    border: none;
    border-radius: 8px;
    background-color: #e6dddd;
}

.nav-btn-1 {
    background-color: white;
    border: none;
    border-radius: 8px;
    padding: 1rem;
    color: #a3a3a3;
    font-size: 1rem;
    font-weight: 700;

}

.nav-btn-4 {
    background-color: #FF5400;
    border: none;
    border-radius: 8px;
    padding: 1rem;
    color: #ffffff;
    font-size: 1rem;
    font-weight: 700;

}




/* popular-tours-section */

.popular-tours-section {

    margin-top: 100px;
}

.popular-tours-section-2 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}



.popular-tours-section-info h1 {
    font-size: 2.5rem;
    padding-bottom: 20px;
}

.popular-tours-section-info p,
li {
    font-size: .9rem;
    padding-bottom: 16px;
}



/* choose your destination */

.destination-1 {
    text-align: center;
    margin: 100px 0px;
    grid-gap: 50px;
}

.destination-1 h1 {
    font-size: 2.5rem;
}

.destination-1 p {
    font-size: 14px;
    margin-bottom: 30px;
}

.destination-2 {
    padding: 10px 250px;
}


.destination-3 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;

}

.destination-3 h2 {
    font-size: 1.75rem;
    color: rgb(255, 255, 255);
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.destination-4 {
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;

}

.destination-4 h2 {
    color: rgb(255, 255, 255);
    font-size: 1.75rem;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.destination-5 {

    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;

}

.destination-5 h2 {
    color: rgb(255, 255, 255);
    font-size: 1.75rem;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;

}



/* choose your destination 7 images */
.maldives {
    background-image: url(Images/Rectangle\ 5.png);
    background-repeat: no-repeat;
    height: auto;
    width: auto;
    background-size: cover;
    border-radius: 30px;
}

.indonesia {
    background-image: url(Images/Rectangle\ 8.png);
    background-repeat: no-repeat;
    height: auto;
    width: auto;
    background-size: cover;
    border-radius: 30px;
}

.srilanka {
    background-image: url(Images/Rectangle\ 6.png);
    background-repeat: no-repeat;
    height: auto;
    width: auto;
    background-size: cover;
    border-radius: 30px;
}

.north-america {
    background-image: url(Images/Rectangle\ 7.png);
    background-repeat: no-repeat;
    height: auto;
    width: auto;
    background-size: cover;
    border-radius: 30px;
}

.kashmir {
    background-image: url(Images/Rectangle\ 9.png);
    background-repeat: no-repeat;
    height: auto;
    width: auto;
    background-size: cover;
    border-radius: 30px;
}

.bangladesh {
    background-image: url(Images/Rectangle\ 11.png);
    background-repeat: no-repeat;
    height: fit-content;
    width: auto;
    background-size: cover;
    border-radius: 30px;
}

.bandarban {
    background-image: url(Images/Rectangle\ 10.png);
    background-repeat: no-repeat;
    height: auto;
    width: auto;
    background-size: cover;
    border-radius: 30px;
}


/* why choose us section start*/

.choose-section-2 {
    padding: 30px 250px;
    text-align: center;
}

.choose-section-2 h2 {
    font-size: 2.5rem;
}

.choose-section-2 p {
    font-size: .9rem;
}

.choose-section-3 {
    display: grid;
    margin-top: 30px;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
}

.choose-section-4 {
    padding: 30px 25px;
    text-align: justify;
    border: none;
    border-radius: 16px;
    background-color: #f7f0e9;
}

.choose-section-5 {
    padding: 30px 25px;
    text-align: justify;
    border: none;
    border-radius: 16px;
    background-color: #e3f1f5;
}

.choose-section-6 {
    padding: 30px 25px;
    text-align: justify;
    border: none;
    border-radius: 16px;
    background-color: #f8e3e3;
}


/* a simple perfect place to get lost */
.simple-perfect-section {
    margin-top: 100px;
}

.simple-perfect-section-2 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 200px;
}

.simple-perfect-section-3 h1 {
    font-size: 2rem;
    margin-bottom: 20px;
}


/* footer section design */
footer {
    margin-top: 100px;
}

.footer-1 {
    text-align: center;
}

.footer-1 p {
    padding: 0px 300px;
}

.footer-1 h4 {
    margin-top: 100px;
    margin-bottom: 50px;
    font-weight: 400;
}

.footer-2 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 20px;
}

.footer-icon {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    font-size: 2rem;
    margin-bottom: 50px;
}





@media screen and (max-width:600px) {

    /* first section startsss */
    .all-section {
        margin: 16px;
    }

    .nav-left h2 {
        font-size: 1.5rem;
    }

    .nav-right {
        gap: auto;
    }

    .nav-right-1 {
        display: none;
        gap: auto;
    }

    .bars {
        display: inline;
        font-size: 1.5rem;
        color: #FF5400;
    }




    /* second sections */
    .nav-info {
        margin-top: 30px;
        border-radius: 0px 16px 16px 0px;
        height: auto;
        width: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        background-image: url(Images/Group\ 13\ \(1\)\ \(1\).png);
        background-repeat: no-repeat;
        background-size: cover;
    }

    .nav-info-2 {

        margin: 16px;
        padding: 16px;
        text-align: center;
        color: white;


    }

    .nav-info-2 h1 {
        font-size: 1.5rem;
        font-weight: 700;
        color: #f1570a;
    }

    .nav-info-2 p {
        font-size: .9rem;
        font-weight: 400;
        padding: 0;
        margin-bottom: 2rem;
        color: #646262;
        text-align: justify;
    }

    .nav-four-btn {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        margin: 1.5rem;
        width: 85%;
    }

    .nav-btn-1 {
        background-color: white;
        border: none;
        border-radius: 8px;
        padding: 1rem;
        color: #a3a3a3;
        font-size: 1rem;
        font-weight: 700;
        width: 95%;
        text-align: start;

    }

    .nav-btn-4 {
        background-color: #FF5400;
        border: none;
        border-radius: 8px;
        padding: 1rem;
        color: #ffffff;
        font-size: 1rem;
        font-weight: 700;
        width: 95%;

    }







    /* popular-tours-section */

    .popular-tours-section {

        margin-top: 40px;
    }

    .popular-tours-section-2 {
        display: flex;
        flex-direction: column;
        justify-content: left;
        gap: 50px;
    }


    .popular-tours-section-info h1 {
        font-size: 1.5rem;
        padding-bottom: 20px;
        text-align: center;
    }

    .popular-tours-section-info p,
    li {
        font-size: .8rem;
        padding-bottom: 16px;
    }

    .popular-tours-img img {
        width: cover;
    }






    /* choose your destination */

    .destination-1 {
        text-align: center;

    }

    .destination-1 h1 {
        font-size: 2rem;


    }

    .destination-1 p {
        font-size: 12px;
        padding: 0px 20px;
    }

    .destination-2 {
        padding: 16px 2rem;
        margin-top: 30px;
    }


    .maldives {
        background-image: url(Images/Rectangle\ 5.png);
        background-repeat: no-repeat;
        height: auto;
        width: auto;
        background-size: cover;
        border-radius: 30px;
    }

    .indonesia {
        background-image: url(Images/Rectangle\ 8.png);
        background-repeat: no-repeat;
        height: auto;
        width: auto;
        background-size: cover;
        border-radius: 30px;
    }

    .srilanka {
        background-image: url(Images/Rectangle\ 6.png);
        background-repeat: no-repeat;
        height: auto;
        width: auto;
        background-size: cover;
        border-radius: 30px;
    }

    .north-america {
        background-image: url(Images/Rectangle\ 7.png);
        background-repeat: no-repeat;
        height: auto;
        width: auto;
        background-size: cover;
        border-radius: 30px;
    }

    .kashmir {
        background-image: url(Images/Rectangle\ 9.png);
        background-repeat: no-repeat;
        height: auto;
        width: auto;
        background-size: cover;
        border-radius: 30px;
    }

    .bangladesh {
        background-image: url(Images/Rectangle\ 11.png);
        background-repeat: no-repeat;
        height: fit-content;
        width: auto;
        background-size: cover;
        border-radius: 30px;
    }

    .bandarban {
        background-image: url(Images/Rectangle\ 10.png);
        background-repeat: no-repeat;
        height: auto;
        width: auto;
        background-size: cover;
        border-radius: 30px;
    }


    .destination-3 {
        display: flex;
        flex-direction: column;
        gap: 30px;

    }

    .destination-3 h2 {
        height: 300px;
        color: white;
        display: flex;
        flex-direction: column;
        justify-content: center;

    }

    .destination-4 {
        margin-top: 30px;
        display: flex;
        flex-direction: column;
        gap: 30px;

    }

    .destination-4 h2 {
        height: 300px;
        color: white;
        display: flex;
        flex-direction: column;
        justify-content: center;

    }

    .destination-5 {

        margin-top: 30px;
        display: flex;
        flex-direction: column;

        gap: 30px;

    }

    .destination-5 h2 {
        color: white;
        height: 300px;
        display: flex;
        flex-direction: column;
        justify-content: center;

    }






    /* why choose us section start*/


    .choose-section-2 {
        padding: 30px 50px;
        text-align: center;
    }

    .choose-section-2 h2 {
        font-size: 1.5rem;
    }

    .choose-section-2 p {
        font-size: .8rem;
        text-align: justify;
        text-align: center;
    }

    .choose-section-3 {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 30px;
    }

    .choose-section-4 {
        padding: 30px 25px;
        text-align: justify;
        border: none;
        border-radius: 16px;
        background-color: #f7f0e9;
    }

    .choose-section-5 {
        padding: 30px 25px;
        text-align: justify;
        border: none;
        border-radius: 16px;
        background-color: #e3f1f5;
    }

    .choose-section-6 {
        padding: 30px 25px;
        text-align: justify;
        border: none;
        border-radius: 16px;
        background-color: #f8e3e3;
    }





    /* a simple perfect place to get lost */
    .simple-perfect-section {
        margin-top: 100px;
    }

    .simple-perfect-section-2 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 30px;
    }

    .simple-perfect-section-2 img {
        width: 100%;
    }


    .simple-perfect-section-3 h1 {
        font-size: 1.25rem;
        margin-bottom: 20px;
    }

    .simple-perfect-section-3 p {
        font-size: .8rem;
    }




    /* footer section design */
    footer {
        margin-top: 100px;
    }

    .footer-1 {
        text-align: center;
    }

    .footer-1 p {
        padding: 0px 36px;
    }

    .footer-1 h4 {
        margin-top: 50px;
        margin-bottom: 50px;
        font-weight: 400;
        font-size: .8rem;
    }

    .footer-2 {
        display: flex;
        justify-content: center;
        align-items: center;
        padding-bottom: 16px;
    }

    .footer-icon {
        margin-top: 16px;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 25px;
        font-size: 1.25rem;
        margin-bottom: 50px;
    }




























}